<div class="page-header">
  <h1>
    Recommendations
    <a href="/recommendations/new" class="btn btn-lg btn-success">New Recommendation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Address</th>
        <th>Neighborhood</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @recommendations.each do |recommendation| %>
      <tr>
        <td><img src="<%= recommendation.image_url %>" class="img-responsive"</td>
        <td><%= link_to(recommendation.name, recommendation.yelp_url, :target => "_blank") %></td>
        <td><%= recommendation.address %></td>
        <td><%= recommendation.neighborhood %></td>
        <td><a href="/users/<%= recommendation.user_id %>"><%= User.find(recommendation.user_id).email %></a></td>
        <td>

          <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">Show</a>
          <% if recommendation.user_id == current_user.id %>
          <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% else %>
          <% end %>

<!-- Recommend Button -->
          <% if recommendation.user_id == current_user.id %>
          <% else %>
          <form action="/create_recommendation" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" id="name" name="name" placeholder="Name" class="form-control" value="<%= recommendation.name %>">

            <input type="hidden" id="address" name="address" placeholder="Address" class="form-control" value="<%= recommendation.address %>">

            <input type="hidden" id="neighborhood" name="neighborhood" placeholder="Neighborhood" class="form-control" value="<%= recommendation.neighborhood %>">

            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

            <input type="hidden" id="image_url" name="image_url" placeholder="Image URL" class="form-control" value="<%= recommendation.image_url %>">

            <input type="hidden" id="yelp_url" name="yelp_url" placeholder="Yelp URL" class="form-control" value="<%= recommendation.yelp_url %>">

      <button class="btn btn-success">
        Recommend
      </button>

        </td>

<% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
